<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cost of Freedom - Dashboard</title>

  


	<link href="{{ url_for('static', filename='css/shop-homepage.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/dict.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cost of Freedom Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hfScore">HF Score</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/militaryExp">Military Expenditure</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/conflict">Conflicts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-exploration">Data Explanatory Tool</a>
          </li>          
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <!-- /.col-lg-3 -->

      <div class="col-lg-12">
        <center>
          <img src="{{ url_for('static', filename='images/1.png') }}" />
          <img src="{{ url_for('static', filename='images/2.png') }}" />
          <img src="{{ url_for('static', filename='images/3.png') }}" />
          <img src="{{ url_for('static', filename='images/4.png') }}" />
        </center>
        <p>
          The static visualizations above show the number of conflicts and operations, respectively, for each country. These data were collected by the <a href="https://ucdp.uu.se/downloads/index.html#armedconflict">Uppsala Conflict Data Program</a>, which records and maps acts of violence committed in the name of a government, regime, or organized militia. It is important to note that the data only includes conflicts that have occurred after 1946 and thus do not include the major conflicts associated with world war one and world war two.



        </p>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <!-- Bootstrap core CSS -->
  <!-- Custom styles for this template -->


</body>

</html>
