<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Cost of Freedom - Dashboard</title>

  


	<link href="{{ url_for('static', filename='css/shop-homepage.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/dict.js') }}"></script>

<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Cost of Freedom Dashboard</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/hfScore">HF Score</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/militaryExp">Military Expenditure</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/conflict">Conflicts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/data-exploration">Data Explanatory Tool</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <!-- /.col-lg-3 -->

      <div class="col-lg-12">
        <div class="chart" id="bargraph">
                <div class="spinner-border" role="status" id="loading" style="display:block; margin:auto; margin-top:100px; width:150px; height:150px;">
                    <span class="sr-only">Loading...</span>
                </div>
        </div>
        <script>
          $( document ).ready(function() {
            $.ajax({
                url: "/data/militaryExp",
                type: "POST",
                contentType: 'application/json;charset=UTF-8',
                dataType:"json",
                success: function (data) {
                    $("#loading").hide();
                    Plotly.newPlot('bargraph', data );
                }
            });
          });
        </script>
        <p>
          The interactive visualization above shows military expenditure as a proportion of each country’s GDP from 2008 to 2017. This value was calculated using two data sets collected from the World Bank Data repository containing the <a href="https://data.worldbank.org/indicator/NY.GDP.MKTP.CD">GDP</a> and the <a href="https://data.worldbank.org/indicator/MS.MIL.XPND.CD">military expenditure</a> of each country by year (stored in current USD units). The proportional approach to presenting this data allows us to see the emphasis each country places on defense spending, relative to the overall wealth of the country itself; this metric was selected because of its relevance to the other datasets included in this project.
        </p>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->

  <!-- Bootstrap core JavaScript -->
  <!-- Bootstrap core CSS -->
  <!-- Custom styles for this template -->


</body>

</html>
